{% extends "blog/base.html" %}
{% block content %}
<h3><b>Trabalho Final</b></h3>
<h4><b>Professor:</b> Dr. Joao Ricardo Favan</h4>
<p>
    Este trabalho tem como objetivo exbir uma aplicacao modelo comos conceitos ministrados em aula.
</p>
<h5><b>Alunos:</b></h5>
<ul>
    <li>Matheus Gomes da Silva Baldessin - RA: 523593</li>
    <li>Nicolas Lelis de Oliveira - RA: 617032</li>
    <li>Pedro Henrique Garcia Sandrini - RA: 615285</li>
    <li>Ricardo Guimarães Herreira - RA: 618209</li>

</ul>
{% endblock content %}